In [34]:
import pandas as pd
from dataset import MovieLensDataset
from sklearn.decomposition import PCA
from preprocessing import Preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

dataset = MovieLensDataset('ml-latest-small')
preprocessing = Preprocessing(dataset)

ratings = dataset.get_ratings().drop('timestamp', axis=1)
ratings.head()

                rating
userId movieId
1      1           4.0
       3           4.0
       6           4.0
       47          5.0
       50          5.0

In [3]:
movies = dataset.get_movies()
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [11]:
ratings.index.get_level_values('userId').unique()

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype='int64', name='userId', length=610)

In [35]:
mean_rating = ratings['rating'].mean()
users = ratings.join(preprocessing.movies_ohe()).apply(lambda row: (row * row['rating']).replace(0, mean_rating), axis=1).drop('rating', axis=1).groupby(level=0).mean()
users = pd.DataFrame(StandardScaler().fit_transform(users), columns=users.columns)
users = pd.DataFrame(PCA(5).fit_transform(users))
kmeans = KMeans(20)
kmeans.fit(users)
kmeans.labels_

array([ 4,  0, 14,  1,  2,  1, 15,  8,  1, 15, 12, 12,  8,  1, 13, 16, 10,
       16, 11,  2,  1,  5, 16,  8,  6, 15,  1, 15, 10, 17,  3,  8, 12,  1,
        8, 11, 10, 15, 10, 12, 15,  1,  9, 15,  3,  4, 15,  4, 10, 13, 16,
        6, 18, 11, 14, 12,  1,  3, 18,  8, 10, 10, 16, 12, 10, 12, 10, 15,
       10,  0,  8, 10,  8, 16,  2, 14, 17, 11,  0,  6, 19,  1, 15, 12,  1,
        3,  3, 10,  1,  0,  8,  3, 10, 15, 10, 16, 10, 16, 12, 12,  8,  1,
       12,  2,  0, 17, 12, 12, 15,  0, 15,  8, 12, 15, 12,  1,  1, 12, 10,
       13, 15,  4, 10, 12,  8,  1, 13, 18,  3, 13,  1, 15, 11,  1,  8, 15,
        0,  2,  7,  1,  8,  3, 15,  2,  2, 15,  1,  3,  7,  8,  1,  0, 19,
       17,  8, 16,  1,  1,  1,  7,  9, 12, 11, 10,  8, 10,  1, 18,  3, 15,
        4,  8,  1,  8,  2, 10,  1, 10, 12,  8, 11,  1, 12,  0,  1,  4, 16,
       18, 10,  3,  0, 10,  8, 13,  1,  8,  8,  1,  1, 16,  3, 12, 10, 16,
        0,  3, 13, 15,  6, 17, 10,  1,  8, 11, 12, 16, 11, 15, 15,  3, 18,
       15,  1,  3,  8,  1, 10,  8,  8, 13,  8, 15, 15,  8,  8, 12,  1, 16,
       10, 12, 12, 16, 10, 12,  5,  4,  8,  8,  8,  3,  6,  9,  0,  0, 14,
        8, 15,  3, 15,  8, 10, 15, 12,  1,  1,  1, 10,  1,  2,  2, 15,  8,
        3, 15,  0,  4,  8,  0,  8, 12, 15,  3,  1,  8, 16, 16, 11, 15,  1,
       12, 17,  1, 11, 11, 16, 18,  7, 19,  1, 10, 15,  8,  8,  8, 12,  1,
       11, 19, 12,  1, 19, 12,  1, 15, 15, 13, 16,  0,  9,  8,  8,  1, 15,
       15,  1,  0, 12, 15, 11,  8, 16,  1, 13,  1, 10, 10, 10,  5,  0, 10,
        8, 11,  0,  3, 12, 16,  2,  6, 12, 15,  1,  8,  1, 16, 12, 12,  0,
        5,  1, 16, 15, 10, 15,  4, 11, 10,  3, 11,  1,  1,  4,  1, 15, 16,
       16, 10,  8,  3,  1,  8,  1,  8, 12, 15,  1,  7, 15,  9, 10,  3, 16,
       15, 17, 13, 13,  2, 12,  9,  3,  6,  8,  8, 16,  1, 16, 13, 10, 10,
       12, 16,  1,  0, 10,  1, 16, 13,  6, 15,  0, 12, 12,  1, 12, 16,  1,
        2, 15, 11,  3, 16, 11,  8,  8,  8, 10, 15, 12,  1,  3, 16,  4, 19,
        3, 16, 12, 15, 12, 11, 15, 12, 16,  6,  3, 16,  1,  8,  1, 10,  4,
        4,  7, 15,  8, 16, 18,  3, 15,  2, 16,  1,  3, 10,  1,  1, 17,  2,
        8, 11, 15, 15, 15,  8,  8,  2, 10, 10, 15,  3, 15, 15,  3,  8, 12,
       10, 12,  1,  1,  3, 12,  1, 13,  1,  1, 12,  4, 15, 15, 14, 15, 11,
       10, 16, 12,  1,  6,  8, 19,  8, 10,  8,  1,  8,  9,  1,  1, 12,  4,
        1,  1, 12,  8, 10,  4,  8, 11,  1,  0,  9,  9, 10,  1,  2,  4,  0,
        1,  1, 16, 10, 16, 17,  8, 15,  0,  3,  1, 17,  8,  3,  1,  1, 15,
       16,  1,  1, 12,  1, 19, 12, 10,  1,  7, 12,  4,  3,  5, 15,  1, 12,
        3,  8,  4, 17,  1,  3,  0, 17, 12, 15,  0,  1,  1,  8, 15,  3,  3,
        1, 12, 13, 11, 15,  4,  1,  1,  1, 13,  1, 16, 13,  1,  8])