In [1]:
import pandas as pd
from dataset import MovieLensDataset
from sklearn.decomposition import PCA
from preprocessing import Preprocessing
from clustering import Clustering
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from typing import List
from predict import predict

In [2]:
dataset_name = 'ml-latest'
dataset = MovieLensDataset(dataset_name)
preprocessing = Preprocessing(dataset)
clustering = Clustering(preprocessing)

In [3]:
ratings = dataset.get_ratings().drop('timestamp', axis=1)
ratings.head()

                rating
userId movieId
1      1           4.0
       110         4.0
       158         4.0
       260         4.5
       356         5.0

In [4]:
movies = dataset.get_movies()
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.index.get_level_values('userId').unique()

Index([     1,      2,      3,      4,      5,      6,      7,      8,      9,
           10,
       ...
       330966, 330967, 330968, 330969, 330970, 330971, 330972, 330973, 330974,
       330975],
      dtype='int64', name='userId', length=330975)

In [6]:
movie_cluster = clustering.get_movie_cluster(1, 30)

In [7]:
users = preprocessing.preprocess_users(movie_cluster)

               0         1         2         3         4
userId
1       1.304019 -0.252111 -0.044110  0.147171 -0.044369
2       2.223970 -1.467558  0.892294 -0.754733  0.117547
7      -0.781634 -0.448102 -0.887338 -0.232842  0.318219
9      -0.824079 -0.614435  0.586111 -0.316880 -0.012935
10     -1.428881  0.015411  0.056082  0.159266 -0.005049

In [3]:
user_cluster = clustering.get_user_cluster(1, 1, user_n_clusters=8, movie_n_clusters=30)

In [8]:
ratings = dataset.get_ratings()
ratings[ratings.index.get_level_values('movieId') == 1 & ratings.index.get_level_values('userId').isin(user_cluster)]['rating'].mean()

                rating   timestamp
userId movieId
1      1           4.0  1225734739
       110         4.0  1225865086
       158         4.0  1225733503
       260         4.5  1225735204
       356         5.0  1225735119